{% extends 'base.html'%}
{% block title %}Cart{% endblock %}
{% block content %}

<div style="min-height: 100vh;" class="bg-gray-100 h-screen py-8">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row gap-4">
            <div style="margin: 16px;" class="md:w-3/4">
                <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th class="text-left font-semibold">Product</th>
                                <th class="text-left font-semibold">Price</th>
                                <th class="text-left font-semibold">Quantity</th>
                                <th class="text-left font-semibold">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td class="py-4">
                                    <div class="flex items-center">
                                        <div style="width:40px;height: 40px;">
                                            <img style="width: 100%;height: 100%;object-fit: cover;" class="mr-4" src="{{ item.product.image_url }}"
                                                alt="{{ item.product.name }}">
                                        </div>
                                        <span style="margin: 16px;" class=" font-semibold">{{ item.product.name }}</span>
                                    </div>
                                </td>
                                <td class="py-4 text-center">${{ item.product.price }}</td>
                                <td class="py-4">
                                    <div class="flex items-center justify-center">
                                        <a href="{% url 'remove_from_cart' item.product.id %}"
                                            class="border rounded-md py-2 px-4 mr-2">-</a>
                                        <span class="text-center w-8">{{ item.quantity }}</span>
                                        <a href="{% url 'add_to_cart' item.product.id %}"
                                            class="border rounded-md py-2 px-4 ml-2">+</a>
                                    </div>
                                </td>
                                <td class="py-4 text-center">${{ item.get_total_price}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Summary -->
            <div class="md:w-1/4"></div>
            <div class="bg-white rounded-lg shadow-md p-6">
                <h2 class="text-lg font-semibold mb-4">Summary</h2>
                <div class="flex justify-between mb-2">
                    <span>Subtotal</span>
                    <span>$19.99</span>
                </div>
                <div class="flex justify-between mb-2">
                    <span>Taxes</span>
                    <span>$1.99</span>
                </div>
                <div class="flex justify-between mb-2">
                    <span>Shipping</span>
                    <span>$0.00</span>
                </div>
                <hr class="my-2">
                <div class="flex justify-between mb-2">
                    <span class="font-semibold">Total</span>
                    <span class="font-semibold">$21.98</span>
                </div>
                <button style="background:#0195C3;"
                    class=" text-white py-2 px-4 rounded-lg mt-4 w-full">Checkout</button>
            </div>

        </div>
    </div>
</div>
{% endblock %}