<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Trusted by the world’s most innovative
            teams
        </h2>
        <div
            class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
            
            <a href="https://chatgpt.com/" target="_blank">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                    src="https://upload.wikimedia.org/wikipedia/commons/1/13/ChatGPT-Logo.png" alt="Transistor"
                    width="158" height="48">
            </a>

            <a href="https://www.ru.ac.th/th/" target="_blank">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Emblem_of_Ramkhamhaeng_University%2C_BW.svg/1200px-Emblem_of_Ramkhamhaeng_University%2C_BW.svg.png"
                    alt="Reform" width="158" height="48">
            </a>

            <a href="https://tailwindcss.com/" target="_blank">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/1024px-Tailwind_CSS_Logo.svg.png" alt="Tuple"
                    width="158" height="48">
            </a>

            <a href="https://www.youtube.com/" target="_blank">
                <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
                    src="https://static.vecteezy.com/system/resources/thumbnails/018/930/572/small/youtube-logo-youtube-icon-transparent-free-png.png"
                    alt="SavvyCal" width="158" height="48">
            </a>

            <a href="https://www.google.com/" target="_blank">
                <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
                    src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Statamic" width="158"
                    height="48">
            </a>


        </div>
    </div>
</div>