{% extends 'general_app/base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
<div class="bg-gray-100 h-screen py-8 m-[16px]">
    <div class="container mx-auto px-4">
        <h1 class="text-2xl font-semibold mb-4">Shopping Cart</h1>
        <div class="flex flex-col md:flex-row gap-4">
            <div class="md:w-3/4">
                <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                    <table class="w-full">
                        <thead>
                            <tr>
                                <div style="padding: 16px;">
                                    <th class=" font-semibold">Product</th>
                                    <th class=" font-semibold">Price</th>
                                    <th class=" font-semibold">Quantity</th>
                                    <th class=" font-semibold">Total</th>
                                </div>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product_id, item in cart.items %}
                            <tr>
                                <td class="py-4">
                                    <div class="flex items-center justify-center">
                                        <div style="width: 40px; height: 40px;"  class="flex items-center justify-center">
                                            <img style="width: 100%; height: 100%; object-fit: cover" class="mr-4"
                                                src="{{ item.image_url }}" alt="Product image">
                                            <span class="font-semibold">{{ item.name }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="flex justify-center items-center py-4">${{ item.price|floatformat:3 }}</td>
                                <td class="py-4">
                                    <div class="flex justify-center items-center">
                                        <a class="border rounded-md py-2 px-4 mr-2"
                                            href="{% url 'add_to_cart' product_id %}" class="btn btn-danger"> + </a>
                                        <span class="text-center w-8">{{ item.quantity }}</span>
                                        <a class="border rounded-md py-2 px-4 mr-2"
                                            href="{% url 'remove_from_cart' product_id %}" class="btn btn-danger"> -
                                        </a>
                                    </div>
                                </td>
                                <td class="flex justify-center items-center py-4">${{ item.total_price|floatformat:3 }}
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- More product rows -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="md:w-1/4">
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-lg font-semibold mb-4">Summary</h2>
                    <!-- <div class="flex justify-between mb-2">
                        <span>Subtotal</span>
                        <span>$19.99</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span>Taxes</span>
                        <span>$1.99</span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span>Shipping</span>
                        <span>$0.00</span>
                    </div> -->
                    <hr class="my-2">
                    <div style="margin-top: 16px;" class="flex justify-between mb-2">
                        <span class="font-semibold">Total</span>
                        <span class="font-semibold">${{ total_price|floatformat:2 }}</span>
                    </div>

                    <button class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 w-full">Checkout</button>
                </div>
            </div>
        </div>
        <div style="margin-top: 16px;">
            <a href="{% url 'products' %}">or Continue Shopping</a>
        </div>
    </div>
</div>
<!-- <div style="min-height: 100vh;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product_id, item in cart.items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.price|floatformat:2|floatformat:item.quantity|floatformat:2 }}</td>
                <td>${{ item.price|floatformat:2|floatformat:item.quantity }}</td>
                <td>
                    <a href="{% url 'add_to_cart' product_id %}" class="btn btn-danger">Add</a>
                    <a href="{% url 'remove_from_cart' product_id %}" class="btn btn-danger">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total Price: ${{ total_price }}</h2>
    <div>
        <a href="{% url 'products' %}">or Continue Shopping</a>
    </div>
</div> -->

{% endblock %}